:root {
  --white-smoke: #ecf0f1;
  --sandy-brown-2: #e4b962;
  --steel-blue: #3b99d9;
  --tomato: #e64c40;
  --white-smoke-3: #edeff2;
  --light-sea-green-2: #20ac99;
  --silver: #bec3c7;
  --dark-slate-gray: #2d3e4f;
  --goldenrod: #e2a62b;
  --dim-gray-2: #49647b;
  --light-sea-green: #25ccbf;
  --medium-sea-green: #30ad64;
  --steel-blue-2: #2e80b6;
  --dark-slate-gray-2: #404047;
  --brown: #822e50;
  --salmon-2: #fc7d64;
  --dim-gray: #735260;
  --tan: #d39f9a;
  --indian-red: #cf404d;
  --firebrick: #bf3a30;
  --dark-khaki: #a8d069;
  --sandy-brown: #f8c740;
  --khaki: #face6a;
  --indian-red-2: #af4173;
  --white-smoke-2: #f0f0f0;
  --salmon: #fd7072;
}

body {
  color: #000000bd;
  background-color: #edeff2;
  height: 100%;
  padding-left: 329px;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  color: #313131;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Droid Sans, sans-serif;
  font-size: 15px;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #cf404d;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  width: 100%;
  display: block;
}

.brand-text {
  color: #cf404d;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
}

.section {
  background-color: #fff;
  padding: 63px 40px;
  position: relative;
}

.section.section-gray {
  background-color: #fafafa;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.call-to-action-section {
  color: #fff;
  background-color: #cf404d;
  padding: 44px 40px;
}

.call-to-action-heading {
  margin-top: 3px;
  margin-bottom: 0;
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.hero-heading {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 19px;
  font-size: 50px;
  font-weight: 400;
}

.hero-subheading {
  color: #fff;
  margin-bottom: 25px;
}

.hollow-button {
  color: #1db0fc;
  border: 2px solid #1db0fc;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 11px 20px;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
}

.hollow-button:hover {
  color: #000;
  border-color: #000;
}

.hollow-button.white {
  color: #fff;
  border-color: #fff;
}

.hollow-button.white:hover {
  color: #fff;
  background-color: #2d3e4f;
  border-color: #2d3e4f;
}

.hollow-button.red {
  color: #fff;
  background-color: #cf404d;
  border-color: #cf404d;
}

.hollow-button.red:hover {
  background-color: #0000;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #313131;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.section-subheading.center {
  color: #737373bd;
  text-align: center;
  font-family: Droid Sans, sans-serif;
  font-size: 19px;
  line-height: 30px;
}

.section-title-group {
  margin-bottom: 62px;
}

.form-field {
  border: 0 solid #000;
  border-radius: 3px;
  min-height: 45px;
  margin-bottom: 17px;
  margin-right: 1px;
  box-shadow: 0 0 0 1px #4040474d;
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  min-height: 110px;
}

.form-wrapper.squeezed {
  padding-left: 19%;
  padding-right: 19%;
}

.social-icon-link {
  opacity: .66;
  padding: 3px;
  transition: opacity .3s;
}

.social-icon-link:hover {
  opacity: 1;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  color: #cf404d;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.link:hover {
  color: #30ad64;
}

.grid-image {
  margin-bottom: 19px;
}

.hero-title-wrapper {
  text-align: center;
  margin-bottom: 155px;
  position: relative;
  top: 40%;
}

.left-navigation {
  background-color: #2d3e4f;
  width: 329px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.nav-link {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 15px;
  display: block;
}

.nav-link:hover, .nav-link.w--current {
  color: #cf404d;
}

.nav-menu {
  float: none;
}

.logo-link {
  float: none;
  text-align: center;
  margin-top: 216px;
  margin-bottom: 50px;
  display: block;
}

.social-footer {
  text-align: center;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-fours {
  float: left;
  width: 25%;
  padding: 10px;
}

.banner {
  background-image: linear-gradient(#070707cf, #070707cf), url('../images/646d4bb79ff76f75b218a08a_listicles-tech-image-large.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100%;
}

.content {
  height: 100%;
}

.success-message {
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0;
}

.templates-badge-wrapper {
  z-index: 9999;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #000;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;
  padding: 11px 20px 11px 18px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  position: fixed;
  inset: auto 20px 20px auto;
  box-shadow: 0 12px 28px #00000024;
}

.loader-badge {
  background-image: url('../images/loader.svg');
  background-position: 0 0;
  background-size: contain;
  width: 34px;
  height: 34px;
  position: absolute;
  inset: -19px -15px auto auto;
}

.badge-paragraph {
  opacity: 1;
  color: #000;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
}

.blue-color {
  color: #4353ff;
}

@media screen and (max-width: 991px) {
  body {
    margin-left: 0;
    padding-left: 0;
  }

  .hamburger-button {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #cf404d;
  }

  .form-wrapper.squeezed {
    padding-left: 8%;
    padding-right: 8%;
  }

  .hero-title-wrapper {
    top: 40%;
  }

  .left-navigation {
    float: none;
    width: 100%;
    height: auto;
    position: relative;
    inset: 0 0 auto;
  }

  .nav-link {
    text-align: left;
    padding-left: 13px;
  }

  .nav-menu {
    background-color: #49647b;
  }

  .logo-link {
    float: left;
    margin-top: 14px;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .social-footer {
    display: inline-block;
    position: absolute;
  }

  .banner {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .call-to-action-heading {
    text-align: center;
    margin-bottom: 13px;
  }

  .align-right {
    text-align: center;
  }

  .hero-heading {
    font-size: 37px;
  }

  .hero-title-wrapper {
    top: 35%;
  }

  .grid-fours {
    width: 33.333%;
  }

  .column-0-padding {
    text-align: center;
    margin-bottom: 15px;
  }

  .column-remove-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .form-wrapper.squeezed {
    padding-left: 2%;
    padding-right: 2%;
  }

  .hero-title-wrapper {
    top: 28%;
  }

  .banner {
    height: 450px;
  }
}


